.git
.gitignore
.vscode
.github
__pycache__
*.pyc
*.pyo
*.egg-info
.pytest_cache
.mypy_cache
.env
.env.local
.DS_Store
node_modules
dist
build
*.log
.coverage
htmlcov
venv
.venv
compose.debug.yaml
README.md
LICENSE
